
  html, body {
    height: 100%;
    overflow-y: scroll;
    color: #292E30;
  }

  .App_header {
    background-color: #ffffff;
    min-height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    border-bottom: 2px solid #c5c5c54e;
  }

  .App_nav_block_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .App_nav_block_right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .App_nav {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .App_nav_links {
    padding: 10px;
    color: #b9b7b7;
  }

  .App_link {
    color: #3f3f3f;
    text-decoration: none;
    &:hover {
      color: #f16135;
      text-decoration: underline;
    }
  }

  #cool-cat {
    margin-top: 2px;
    margin-left: 10px;
  }

  .App_footer {
    background-color: hsla(30, 100%, 64%, 0.089);
    /* min-height: 18vh; */
    display: flex;
    /* flex-direction: row; */
    align-items: flex-end;
    justify-content: space-around;
    font-size: calc(10px + 1vmin);
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 18vh;  
  }

  #sign_in_button {
    color: #292E30;
  }

  .Welcome_button_text {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  #char_emphasis {
    color: #ef8e64;
    font-size: larger;
    /* color: #E06BB9; */
  }

  .divider {
    height: 1px;
    background-color: #ccc; 
    width: 30%; 
    margin: 0 auto; 
}

#paw-svg {
    height: 20px;
}

#fungi-svg {
    height: 22px;
}

#pill-svg {
    height: 23px;
    transform: rotate(45deg);
}

.pet-img {
  height: 100px;
}

#add-pet-link {
  text-decoration: none;
}

.dash-links {
  text-decoration: bold;
  text-align: center;
}

.saved-articles-header .MuiCardHeader-title {
  font-weight: 800 !important;
}

.manage-account .MuiCardContent {
  text-decoration: none;

}

.no-underline {
  text-decoration: none;
}

.Error_wrapper {
  background-color: #ef8e64;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 560px){
  .App_nav {
    display: none;
  }
}