
  html, body {
    height: 100%;
    overflow-y: scroll;
  }

  .App_header {
    background-color: #ffffff;
    min-height: 18vh;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: end;
    font-size: calc(10px + 1vmin);
  }

  .App_nav {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .App_nav_links {
    /* display: flex;
    flex-direction: row; */
    margin-right: 20px;
  }

  .App_link {
    color: black;
    text-decoration: none;
    &:hover {
      color: #f16135;
      text-decoration: underline;
    }
  }

  .App_footer {
    background-color: hsla(30, 100%, 64%, 0.089);
    min-height: 18vh;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 1vmin);
  }

  .divider {
    height: 1px;
    background-color: #ccc; 
    width: 30%; 
    margin: 0 auto; 
}

#paw-svg {
    height: 20px;
}

#fungi-svg {
    height: 22px;
}

#pill-svg {
    height: 23px;
    transform: rotate(45deg);
}